{
  "windows" : [
    {
      "machine_ids" : [
        { "hostname" : "{{ node_to_decommission }}", "ip" : "{{ node_to_decommission }}" }
      ],
      "unavailability" : {
        "start" : { "nanoseconds" : {{ ansible_date_time.epoch }}000000000 },
        "duration" : { "nanoseconds" : 3600000000000 }
      }                            
    }
  ]
}
